$size: 15px;

:host {
  display: block;
}

.formAndListContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}

.explainerAnim {
  display: flex;
}

:host > * + * {
  margin-top: $size + 30px;
}

.list__container {
  padding: $size;
  border: 2px solid black;

  .list__item {
    border: 1px dashed black;
    padding: 5px;
  }
}

.list__container > * + * {
  margin-top: $size;
}

.list__items > * + * {
  margin-top: $size;
}

#form {
  margin-bottom: 40px;
}

#form .form-group > * + * {
  margin-left: $size;
}
