:host {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}

.list__container {
  padding: 15px;
  border: 2px solid black;

  .list__item {
    border: 1px dashed black;
    padding: 5px;
  }
}

.list__container > * + * {
  margin-top: 10px;
}

#form {
  margin-bottom: 40px;
}

#form .form-group > * + * {
  margin-left: 10px;
}
