<form id="form" [formGroup]="form" *ngIf="items.length !== 0">
  <input type="text" class="form-control" formControlName="list_text">
  <div class="form-group">
    <input type="button" class="btn btn-primary" value="Добавить" (click)="addItem()">
    <input type="button" class="btn btn-danger" value="Удалить" (click)="removeItem()">
  </div>

</form>

<div class="list__container" [@itemAnimation]="items.length">
  <div class="list__title">
    Items:
  </div>
  <div
    class="list__item"
    *ngFor="let item of items"
  >
    {{ item }}
  </div>
</div>
