@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 0 10px;
}

form > * + * {
  margin-top: 15px;
}

// .btn {
//   display: inline-block;
//   background-color: black;
//   color: white;
//   padding: 10px;
//   cursor: pointer;
// }
